<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<title>Web Development</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
			{% csrf_token %}
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Web<br />
						Development<br /><br /><br/></h1>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Labs</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							{% for bm in bookmarks %}
								{% if bm|stringformat:"s" == active %}
									<li class="active"><a href="index.html">{{ bm  }}</a></li>
								{% else %}
									<li><a href="{{ bm|lower }}/">{{ bm }}</a></li>
								{% endif %}
							{% empty %}
							<li><p style="margin-left: 25em">Sorry, there are no labs here now. </p></li>
							{% endfor %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<article class="post featured">
							<header class="major">
								<span class="date">September, 2018</span>
								<h2>HTTP</h2>
								<p>Реализуйте небольшое серверное приложение, с использованием любого фреймворка.<br />
									Сервер должен содержать предоставлять API с поддержкой (GET, POST, DELETE, PUT, OPTION).</p>
							</header>
							<hr />
							<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall">
							<select name="method" id="demo-category">
									<option value="1">GET</option>
									<option value="2">POST</option>
									<option value="3">DELETE</option>
									<option value="4">PUT</option>
									<option value="5">OPTION</option>
									<option value="6">HEAD</option>
								</select>
							</div>
								<div class="col-6 col-12-xsmall">
									<input type="text" name="url"  value="http://google.com" placeholder="http://google.com" />
								</div>
							</div>
							<br />
							<a id="send" class="button icon fa-paper-plane" onclick="send()">SEND</a>
							<hr/>
							<h2>Response</h2>
						<div class="box">
							<p name="resp"></p>
						</div>
						</article>

						
					</div>

				<!-- Copyright -->
					<div id="copyright" >
						<p class="copyright">&copy; Pandora Lewandowski {% now "Y" %}</p>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

			<script>
				function send() {
						var req_url = $("input[name='url']").val();
						var req_method = $("select[name='method']").val();
						$.ajax ({
							url: "send/", 
							method: "POST", 
							data: { csrfmiddlewaretoken: "{{ csrf_token }}", 
								url: req_url, 
								method: req_method
							}, 
							success: function (data){
								var body =  data.content;
								var headers =  data.headers;
								document.getElementsByName("resp")[0].innerHTML = headers + body;
							}
						});
					};
			</script>

	</body>
</html>